<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0680868 -0.0456213 -0.0393752" rpy="3.13279 3.13263 -1.6305" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0680868 -0.0456213 -0.0393752   -0.000128574 0.00627997 0.685657 0.727898 panda_hand camera_color_optical_frame" />
      
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0680868 -0.0456213 -0.0393752   -0.000128574 0.00627997 0.685657 0.727898 panda_hand camera_depth_optical_frame" />
</launch>
